<script>

export default {

	/**
	 * 
	 */
	props:['colors', 'max'],
	computed:{
		topColors(){
			return this.colors.slice(0, this.max );
		}
	}

};
</script>

<template>

<div>

	<div v-for="(c,ind) in topColors" :key="ind"
		:style="'padding:2px;margin:2px;float:right;background-color: ' + c.color.toCSS() + ';'">
		<h5>{{ c.color.toCSS() }}<br>
		{{ 'pixels: ' + c.pixelCount }}</h5>
	</div>

</div>

</template>