<script>

import ImageReader from 'limp/imageReader';

/**
 * Used to allow the user to pick and upload an image from their harddrive.
 */
export default {

	data(){

		let reader = new ImageReader();
		reader.on( 'imageLoaded', (e)=>this.imgLoaded(e) );

		return {
			reader:reader
		};

	},
	methods:{

		imgLoaded(img){

			if ( img != null ) {

				this.image = img;
				this.$emit( 'loaded', img );

			} else console.log( 'err: image empty.');

		},

		uploadFile(e){

			let files = e.target.files;
			if ( !files || files.length === 0 ) {
				console.log('error: no file specified.');
				return;
			}
			console.log('loading file: ' + files[0]);
			this.reader.load( files[0] );

		}

	}
}

</script>

<template>
<div>
	<label :for="elmId('file')">Upload</label>
	<input :id="elmId('file')" type="file" accept="image/*" @change="uploadFile">
</div>
</template>