<script>
import Surface from 'limp/surface';
import Partition from 'limp/localPartition';

import ImagePicker from './imagePicker.vue';
import ColorList from './colorsList.vue';

export default {

	props:[],
	data(){

		return {
			width:480,
			height:480,
			maxColors:20,
			image:null,
			partition:new Partition( { maxDelta:32, nodeSize:16 } )
		};

	},

	components:{
		ImagePicker, ColorList
	},
	/**
	 * Vue instance mounted with its HTML template.
	 */
	mounted() {

		/**
		 * Binding canvas width/height with Vue doesn't work.
		 * Possibly a frame-delay between the resize and draw.
		 */
		let canvas = this.$refs.myCanvas;
		canvas.width = this.width;
		canvas.height = this.height;

		this.context = canvas.getContext( '2d' );
	},
	methods:{

		imgLoaded(img){

			if ( img != null ) {

				this.width = img.width;
				this.height = img.height;

				this.$refs.myCanvas.width = img.width;
				this.$refs.myCanvas.height = img.height;

				this.image = img;

				this.context.drawImage( img, 0,0, img.width, img.height );
				this.partition.imageData = this.context.getImageData(0,0, img.width, img.height );

			} else console.log( 'err: image empty.');

		},

		onAnalyze( e ){

			if ( this.image ) {

				console.time( 'Image Partition');
				this.partition.localMerge( this.context.getImageData(0,0,this.width, this.height) );
	
				console.timeEnd('Image Partition');

				console.time('Calc Colors');
				this.partition.calcSetColors();
				console.timeEnd('Calc Colors');

				console.time( 'Merge Sets');
				this.partition.mergeSets( this.maxColors );
				console.timeEnd('Merge Sets');

				console.time('Calc Colors');
				this.partition.calcSetColors();
				console.timeEnd('Calc Colors');
	
				console.time('Sort Sets');
				this.partition.sort();
				console.timeEnd('Sort Sets');
			}

		},
		applyClick(e) {

			console.time('Recolor');
			let imageData = this.partition.globalRecolor();
			console.timeEnd('Recolor');

			if ( imageData !== null ) this.context.putImageData( imageData, 0,0 );

		}

	} // methods

}

</script>

<template>

<div>
	<ImagePicker @loaded="imgLoaded" />

	<canvas id="main" ref="myCanvas"></canvas><br>

	<button type="button" @click="onAnalyze" :disabled="image==null">Analyze</button>
	<button type="button" @click="applyClick" :disabled="image==null">Apply Colors</button>
	<label :for="elmId('maxDelta')">Max Color Diff: {{ partition.maxDelta }}</label>
	<input :id="elmId('maxDelta')" type="range" min="0" max="255" v-model="partition.maxDelta" />
	<br>

	<label :for="elmId('nodeSize')">BSP Node Size: {{ partition.nodeSize }}</label>
	<input :id="elmId('nodeSize')"
		type="range" min="2" max="64" v-model="partition.nodeSize" >
	<br>

	<label :for="elmId('channelMax')">Max Channel Diff [Not Implemented]</label>
	<input :id="elmId('channelMax')"
		type="range" min="0" max="255" v-model="partition.maxDelta" >
	<br>

	<label :for="elmId('colorsMax')">Max Colors: {{ maxColors }}</label>
	<input :id="elmId('colorsMax')"
		type="range" min="1" max="55" v-model="maxColors" >

	<ColorList :max="maxColors" :colors="partition.sets" />

	<span v-if="partition.sets">{{ 'Color Sets: ' + partition.count }}</span>
</div>

</template>